.box {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  right: 0;
  transition: 0.3s ease-in-out;
  top: 100px;
  width: 250px;
  box-shadow: 1px 0px 14px #d1d1d1;
  border-radius: 3px;
  padding: 10px;
  @media (max-width: 767px) {
    width: 200px;
  }

  .spin {
    position: absolute;
    left: -35px;
    background: var(--mainColor);
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -3px 0px 20px #fff;
    @media (max-width: 767px) {
      left: -28px;
    }
    i {
      font-size: 28px;
      padding: 5px;
      color: #fff;
      @media (max-width: 767px) {
        font-size: 21px;
      }
    }
  }
  h5 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--mainColor);
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      outline: none;
      padding: 7px 5px;
      cursor: pointer;
      transition: all 0.1s ease-in;
      &:hover {
        background-color: #ebebeb;
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--mainColor);
        font-size: 17px;
        transition: all 0.1s ease-in-out;
        span {
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 18px;
          width: 100%;
          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.activeBox {
  background-color: #ebebeb !important;
}

::ng-deep {
  .mat-radio-outer-circle {
    .mat-radio-checked & {
      border-color: var(--mainColor) !important;
    }
  }
  .mat-radio-label {
    margin: 0;
  }
  .mat-radio-inner-circle {
    background-color: var(--mainColor) !important;
  }
  .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(var(--secColor), 0.26);
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
  .mat-radio-outer-circle {
    border-color: var(--mainColor) !important;
  }
}
