<div class="wrapper rtl">
  <app-admin-layout></app-admin-layout>
  <div class="files">
    <div class="header mb-4">
      <h6>1- صورة الموقع</h6>
    </div>
    <div>
      <div class="upload">
        <div class="dragg animated fadeIn error" #file>
          <p #textFile>ارفق صورة</p>
          <i class="fas fa-book" #icon></i>
        </div>
        <div class="file mt-3">
          <input type="file" hidden #fileInput accept=".xlsx"
            (change)="addFileByChoose(fileInput, icon, file, result, error)">
          <button (click)="fileInput.click()">أرفق الملف</button>
        </div>
      </div>
      <div class="result mt-3 animated fadeInLeft" #result></div>
      <div class="error mt-3 animated fadeInLeft" hidden #error>يجب ادخال صوره من النوع png , jpeg , jpg , svg</div>
    </div>
  </div>
</div>

<div class="is-loading" *ngIf="isUploading == true">
  <div class="loading">
    <h2>
      برجاء الانتظار.. يتم رفع الكتاب الان
    </h2>
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
