<div class="wrapper rtl">
  <app-admin-layout></app-admin-layout>
  <div class="add-users rtl" *ngIf="userSignedUpLoading == false">
    <div class="container">
      <h2 class="h1 animated fadeInDown" *ngIf="mode == 'create'">أضف المستخدم الذي تريده</h2>
      <h2 class="h1 animated fadeInDown" *ngIf="mode == 'edit'">تعديل المستخدم</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group fadeInLeft wow " data-wow-delay="0s">
          <label for="name">الأسم</label>
          <input type="text" class="form-control" placeholder="برجاء ادخال اسم الأسم" formControlName="name" [ngClass]="{
            'is-valid': !name().invalid && name().touched,
            'is-invalid': name().invalid && name().touched
          }">
          <div class="mt-1" *ngIf="name().errors?.required && name().touched">هذا الادخال مطلوب</div>
        </div>
        <div class="form-group fadeInLeft wow" data-wow-delay="0.1s">
          <label for="name">الأيميل</label>
          <input type="text" class="form-control" placeholder="برجاء ادخال الأيميل" formControlName="email" [ngClass]="{
            'is-valid': !email().invalid && email().touched,
            'is-invalid': email().invalid && email().touched
          }">
          <div class="mt-1" *ngIf="email().errors?.required && email().touched">هذا الادخال مطلوب</div>
          <div class="mt-1" *ngIf="email().errors?.email && email().touched">يجب كتابة صيغة الأيميل</div>
        </div>
        <div class="form-group fadeInLeft wow" data-wow-delay="0.2s">
          <label for="name">الرمز</label>
          <input type="password" class="form-control" placeholder="برجاء ادخال الرمز" formControlName="password"
            [ngClass]="{
            'is-valid': !password().invalid && password().touched,
            'is-invalid': password().invalid && password().touched
          }">
          <div class="mt-1" *ngIf="password().errors?.required && password().touched">هذا الادخال مطلوب</div>
          <div class="mt-1" *ngIf="password().errors  && password().dirty">يجب كتابة على الأقل 6 أحرف أو رقم
          </div>
        </div>
        <div class="form-group fadeInLeft wow" data-wow-delay="0.2s">
          <label for="name">تأكيد الرمز</label>
          <input type="password" class="form-control" placeholder="برجاء ادخال تأكيد الرمز"
            formControlName="confirmPassword" [ngClass]="{
            'is-valid': !confirmPassword().invalid && confirmPassword().touched || confirmPassword().value !== password().value && confirmPassword().touched,
            'is-invalid': confirmPassword().invalid && confirmPassword().touched || confirmPassword().value !== password().value && confirmPassword().touched
          }">
          <div class="mt-1" *ngIf="confirmPassword().errors?.required && confirmPassword().touched">هذا الادخال مطلوب
          </div>
          <div class="mt-1" *ngIf="confirmPassword().value !== password().value && confirmPassword().dirty">كلمة
            المرور غير متطابقة
          </div>
        </div>
        <div class="form-group fadeInLeft wow" data-wow-delay="0.3s">
          <button type="submit" [disabled]="form.invalid || confirmPassword().value !== password().value">تأكيد
            الطلب</button>
          <div class="mt-1" *ngIf="form.invalid || confirmPassword().value !== password().value">كل الحقول مطلوبة</div>
        </div>
      </form>
    </div>
  </div>
  <div class="loading" *ngIf="userSignedUpLoading == true">
    <h2>
      برجاء الانتظار.. يتم يتم التسجيل الان
    </h2>
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
