<div class="book-details rtl ">
  <div class="container">
    <!-- <pdf-viewer [src]="src" [render-text]="true" style="display: block; height: 500px;position: fixed;z-index: 1000;"></pdf-viewer> -->
    <!--Start Book-->
    <div class="book" *ngIf="booksService.isLoading == false">
      <div class="book-img animated slideInRight">
        <img [src]="'http://localhost:3000/images/'+ book?.coverImage" [alt]="book?.title">
        <button class="btn btn-success" (click)="download(book.id)">تحميل الكتاب</button>
        <a class="btn btn-warning mt-3" style="width: 100%;" [href]="src + book.file[0].name" target="_blank">اعرض الكتاب</a>
        <!-- <button class="btn btn-danger" (click)="download(book.id)">اضف طبعه جديده من الكتاب</button> -->
      </div>
      <div class="about-book wow fadeIn" data-wow-duration="2s">
        <div class="about-book-child">
          <h2 class="h1">{{book?.title}} | <small class="text-muted">{{book?.type}}</small></h2>
          <div class="my-3">
            الموضوع :
            {{book?.subject}}
          </div>
          <div class="my-3">
            المؤلفين :
            <div class="badge badge-primary ml-1" *ngFor="let author of book?.authors">{{author.name}}</div>
          </div>
          <div class="my-3">
            تاريخ النشر :
            {{book?.publicationDate}}
          </div>
          <div class="my-3">
            مكان النشر :
            {{book?.publicationCountry}} | {{book?.publicationCity}}
          </div>
          <div class="my-3">
            الناشرين :
            <div class="badge badge-primary ml-1" *ngFor="let publisher of book?.publishers">{{publisher.name}}</div>
          </div>
          <div class="my-3">
            الطبعه :
            {{book?.edition}}
          </div>
          <div class="my-3">
            الاجزاء :
            {{book?.parts}}
          </div>
          <div class="my-3">
            عدد الاوراق :
            {{book?.papers}}
          </div>
          <div class="my-3">
            التصنيفات :
            <div class="badge badge-primary ml-1" *ngFor="let category of book?.category">{{category.title}}</div>
          </div>
          <div class="my-3">
            التصنيفات الفرعية :
            <div class="badge badge-primary ml-1" *ngFor="let subCategory of book?.subCategory">{{subCategory.title}}
            </div>
          </div>
          <div class="my-3">
            الروابط :
            <div *ngFor="let file of book?.file">
              <a [href]="file.link">{{file.link}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Book-->

    <!--Start Book Shimmer -->
    <div class="book" *ngIf="booksService.isLoading == true">
      <div class="book-img animated slideInRight">
        <ngx-shimmer-loading class="book-shimmer"></ngx-shimmer-loading>
        <ngx-shimmer-loading class="book-shimmer-button"></ngx-shimmer-loading>
      </div>
      <div class="about-book wow fadeIn" data-wow-duration="2s">
        <div class="about-book-child">
          <ngx-shimmer-loading class="book-shimmer-title"></ngx-shimmer-loading>
          <ngx-shimmer-loading></ngx-shimmer-loading>
          <ngx-shimmer-loading></ngx-shimmer-loading>
          <ngx-shimmer-loading class="book-shimmer-content"></ngx-shimmer-loading>
        </div>
      </div>
    </div>
    <!--End Book Shimmer-->

    <!--Start Stepper-->
    <div class="stepper animated slideInUp">
      <mat-tab-group>
        <mat-tab label="كتب ذات علاقه">
          <mat-accordion class="aboutSearch">
            <h6 *ngIf="book?.related_books.length == 0">لا يوجد كتب</h6>
            <mat-expansion-panel *ngFor="let book of book?.related_books;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <img [src]="'http://localhost:3000/images/'+ book?.coverImage[0].coverImageUrl">
                  </div>
                  <div class="about-search-header-content">
                    <h6>{{book.title}}</h6>
                    <div class="my-3">
                      المؤلفين :
                      <div class="badge badge-primary ml-1" *ngFor="let author of book?.authors">{{author.name}}</div>
                    </div>
                    <div class="my-3">
                      الطبعه :
                      {{book?.edition}}
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="content">
                <div class="my-3">
                  مكان النشر :
                  {{book?.publicationCountry}} | {{book?.publicationCity}}
                  ,
                  تاريخ النشر :
                  {{book?.publicationDate}}
                </div>
                <div class="my-3">
                  <a [href]="'http://localhost:4200/bookDetails/' + book?._id">انتقل الي صفحة الكتاب</a>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="مخطوطات ذات علاقه">
          <mat-accordion class="aboutSearch">
            <h6 *ngIf="book?.related_papers.length == 0">لا يوجد كتب</h6>
            <mat-expansion-panel *ngFor="let book of book?.related_papers;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <img [src]="'http://localhost:3000/images/' + book?.coverImage[0].coverImageUrl">
                  </div>
                  <div class="about-search-header-content">
                    <h6>{{book.title}}</h6>
                    <div class="my-3">
                      المؤلفين :
                      <div class="badge badge-primary ml-1" *ngFor="let author of book?.authors">{{author.name}}</div>
                    </div>
                    <div class="my-3">
                      الطبعه :
                      {{book?.edition}}
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="content">
                <div class="my-3">
                  مكان النشر :
                  {{book?.publicationCountry}} | {{book?.publicationCity}}
                  ,
                  تاريخ النشر :
                  {{book?.publicationDate}}
                </div>
                <div class="my-3">
                  <a [href]="'http://localhost:4200/bookDetails/' + book?._id">انتقل الي صفحة الكتاب</a>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="طبعات اخري">
          <mat-accordion class="aboutSearch">
            <h6 *ngIf="book?.other_versions.length == 0">لا يوجد كتب</h6>
            <mat-expansion-panel *ngFor="let book of book?.other_versions;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <img [src]="'http://localhost:3000/images/' + book?.coverImage[0].coverImageUrl">
                  </div>
                  <div class="about-search-header-content">
                    <h6>{{book.title}}</h6>
                    <div class="my-3">
                      المؤلفين :
                      <div class="badge badge-primary ml-1" *ngFor="let author of book?.authors">{{author.name}}</div>
                    </div>
                    <div class="my-3">
                      الطبعه :
                      {{book?.edition}}
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="content">
                <div class="my-3">
                  مكان النشر :
                  {{book?.publicationCountry}} | {{book?.publicationCity}}
                  ,
                  تاريخ النشر :
                  {{book?.publicationDate}}
                </div>
                <div class="my-3">
                  <a [href]="'http://localhost:4200/bookDetails/' + book?._id">انتقل الي صفحة الكتاب</a>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="تسجيلات صوتية">
          <!--Start Audios-->
          <div class="audios" #viewAudios *ngIf="booksService.isLoading == false">
            <h4 *ngIf="bookSoundLength == 0">لا يوجد تسجيلات</h4>
            <div class="audio" *ngFor="let audio of book?.sound; index as i">
              <h6>{{ (audio.audioName.length > 30) ? (audio.audioName | slice:0:30) + '...' : audio.audioName }}</h6>
              <audio controls>
                <source [src]="'http://localhost:3000/'+audio.audioSrc" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!--End Audios-->

          <!--Start Audios Shimmer-->
          <div class="audios" *ngIf="booksService.isLoading == true">
            <div class="audio">
              <ngx-shimmer-loading class="audio-shimmer-name mr-4"></ngx-shimmer-loading>
              <ngx-shimmer-loading class="book-shimmer-audio"></ngx-shimmer-loading>
            </div>
            <div class="audio">
              <ngx-shimmer-loading class="audio-shimmer-name mr-4"></ngx-shimmer-loading>
              <ngx-shimmer-loading class="book-shimmer-audio"></ngx-shimmer-loading>
            </div>
            <div class="audio">
              <ngx-shimmer-loading class="audio-shimmer-name mr-4"></ngx-shimmer-loading>
              <ngx-shimmer-loading class="book-shimmer-audio"></ngx-shimmer-loading>
            </div>
            <div class="audio">
              <ngx-shimmer-loading class="audio-shimmer-name mr-4"></ngx-shimmer-loading>
              <ngx-shimmer-loading class="book-shimmer-audio"></ngx-shimmer-loading>
            </div>
          </div>
          <!--End Audio-->

        </mat-tab>
      </mat-tab-group>
    </div>
    <!--End Stepper-->

  </div>
</div>