<div class="wrapper rtl">
  <app-admin-layout></app-admin-layout>
  <div class="files">
    <div class="container">
      <div class="upload">
        <div class="dragg animated fadeIn error" #file>
          <h5 #textFile>ارفق الملف</h5>
          <i class="fas fa-book" #icon></i>
        </div>
        <div class="file mt-3">
          <input type="file" hidden #fileInput accept=".xlsx"
            (change)="addFileByChoose(fileInput, icon, file, result, error)">
          <button (click)="fileInput.click()">أرفق الملف</button>
        </div>
      </div>
      <div class="result mt-3  animated fadeInLeft" #result></div>
      <div class="error mt-3  animated fadeInLeft" hidden #error>يجب ادخال صيغة الاكسيل شيت</div>
    </div>
  </div>
</div>

<div class="is-loading" *ngIf="isUploading == true">
  <div class="loading">
    <h2>
      برجاء الانتظار.. يتم رفع الكتاب الان
    </h2>
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
